body {
    background-color:#a24a1b; /* beyaz */
    font-family: -apple-system, BlinkMacSystemFont;
    color: #e6dfdb;
}

.centered {
  display: table;
  padding-top: 10%;
  margin: 0 auto;
  text-align: center;
}

.avatar {
  vertical-align: middle;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

a:before {
    content:'';
    display: block; 
}

.fa {
    padding: 3%;
    color: #e6dfdb;

    text-decoration: none;
}

.fa:hover {
    color: rgb(0, 0, 0);
}

.nav-text {
    color: #d31717;

}

.nav-text:hover {
    color: rgb(0, 0, 0);
}
